<article class="bg-white rounded-md shadow-md">
  <header class="p-4 border-b flex items-center justify-between">
    <h2 class="text-lg font-semibold text-gray-700">Assets List</h2>
    <div class="relative z-0 group">
      <input
        type="text"
        name="floating_email"
        class="block px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "
        required
      />
      <label
        for="floating_email"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Search</label
      >
    </div>
  </header>
  <div *ngIf="assets.length === 0">
    <p class="p-4 text-center text-gray-600">Loading...</p>
  </div>
  <ul>
    <li *ngFor="let asset of assets">
      <span>{{ asset.name }} - ${{ asset.price_usd || "N/A" }}</span>
    </li>
  </ul>
</article>
